Source: twig
Maintainer: Daniel Beyer <dabe@deb.ymc.ch>
Section: php
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)
Homepage: http://twig.sensiolabs.org/
Vcs-Browser: https://github.com/ymc/twig-debian
Vcs-Git: git://github.com/ymc/twig-debian.git

Package: twig
Architecture: all
Depends: php5 (>= 5.3), ${misc:Depends}
Description: Flexible, fast, and secure template engine for PHP 
 Fast: Twig compiles templates down to plain optimized PHP code.
 The overhead compared to regular PHP code was reduced to the very minimum.
 .
 Secure: Twig has a sandbox mode to evaluate untrusted template code.
 This allows Twig to be used as a template language for applications where
 users may modify the template design.
 .
 Flexible: Twig is powered by a flexible lexer and parser.
 This allows the developer to define its own custom tags and filters, and
 create its own DSL.
