#!/usr/bin/make -f


TWIG_RELEASE_VERSION := $(shell dpkg-parsechangelog | grep -E -e '^Version:' | sed -r 's/^[^:]+: (.*)\+dfsg-[^-]+$$/\1/')

%:
	+dh $@

override_dh_auto_clean:
	cd ext/twig && \
	 phpize --clean
	rm -f ext/twig/tmp-php.ini

override_dh_auto_configure:
	cd ext/twig && \
	 phpize && \
	 ./configure

override_dh_auto_build:
	cd ext/twig && \
	 make

override_dh_auto_test:
	cd ext/twig && \
	 make test

override_dh_install-arch:
	cd ext/twig && \
	 make install INSTALL_ROOT=../../debian/php5-twig-extension
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-twig-extension.substvars
	dh_install --fail-missing

get-orig-source:
	mkdir debian/temp-get-orig-source
	wget -O debian/temp-get-orig-source/upstream.tar.gz https://github.com/fabpot/Twig/archive/v${TWIG_RELEASE_VERSION}.tar.gz
	mkdir debian/temp-get-orig-source/upstream-orig
	tar -xzf debian/temp-get-orig-source/upstream.tar.gz -C debian/temp-get-orig-source/upstream-orig
	find debian/temp-get-orig-source/upstream-orig -type f -name '.gitignore' -delete
	rm -rf debian/temp-get-orig-source/upstream-orig/*/doc
	tar -C debian/temp-get-orig-source/upstream-orig -cJf ../twig_${TWIG_RELEASE_VERSION}+dfsg.orig.tar.xz Twig-${TWIG_RELEASE_VERSION}
	rm -rf debian/temp-get-orig-source
