Source: twig
Maintainer: Daniel Beyer <dabe@deb.ymc.ch>
Section: php
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9),
 devscripts (>= 2.13.5~),
 php5-dev,
 phpunit,
 pkg-php-tools (>= 1.7~),
 re2c
Homepage: http://twig.sensiolabs.org/
Vcs-Browser: https://github.com/ymc/twig-debian
Vcs-Git: git://github.com/ymc/twig-debian.git

Package: php-twig
Architecture: all
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}
Recommends: php5
Suggests: php5-twig-extension, twig-doc
Description: Flexible, fast, and secure template engine for php
 Twig is a fast, secure and flexible template engine for php, implementing an
 own domain specific language which originated from Jinja and Django templates.
 It optionally can make use of a php5 extension, that enhances its performance.

Package: php5-twig-extension
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${php:Depends}
Recommends: twig
Description: Enhance performance of the Twig template engine
 This php extension written in C enhances the performance of the Twig runtime
 engine and therefore neither replaces the PHP code of the Twig nor meant to
 be used without it.
 .
 Twig itself is a fast, secure and flexible template engine for php.
