#!/usr/bin/make -f


TWIG_RELEASE_VERSION := $(shell dpkg-parsechangelog | grep -E -e '^Version:' | sed -r 's/^[^:]+: (.*)\+dfsg-[^-]+$$/\1/')

%:
	dh $@ --with phpcomposer

override_dh_testdir:
	dh_testdir
	if [ -d ./doc ] && \
	   [ $$(find ./doc -type f | wc -l) -gt 0 ]; then \
	  echo "E: License of Twig's documentation is unclear." 1>&2; \
	  echo "   Please remove it from sources!"  1>&2; \
	  echo "   You can use uscan from devscripts 2.13.5 or newer to" 1>&2; \
	  echo "   produce a dfsg upstream tarball."  1>&2; \
	  exit 1;\
	fi

override_dh_auto_clean:
	cd ext/twig && \
	 phpize --clean
	rm -f ext/twig/tmp-php.ini

override_dh_auto_configure:
	cd ext/twig && \
	 phpize && \
	 ./configure

override_dh_auto_build:
	cd ext/twig && \
	 make

override_dh_auto_test:
	cd ext/twig && \
	 make test
	phpunit

override_dh_install-indep:
	dh_install --fail-missing lib/Twig usr/share/php/
	rm -f debian/php-twig/usr/share/php/Twig/Test/*.php
	rmdir debian/php-twig/usr/share/php/Twig/Test

override_dh_install-arch:
	cd ext/twig && \
	 make install INSTALL_ROOT=../../debian/php5-twig-extension
	echo "php:Depends=phpapi-`php-config5 --phpapi`" >> debian/php5-twig-extension.substvars
	dh_install --fail-missing
